@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}
/* базовые стили */
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.main-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.article-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.primary-text {
  font-size: 22px;
  line-height: 36px;
}
.secondary-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.tertiary-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
/* конец базовых стилей */

/* навигация главная */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-list {
  width: 430px;
  margin: 0;
  padding: 0;
}
.navigation-link {
  color: inherit;
  text-decoration: none;
}
/* конец главной навигации */
/* начало правой навигации */
.nav-right-link-want {
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  font-weight: bold;
}
.nav-right-list {
  max-width: 250px;
  margin-left: auto;
}
/* конец правой навигации */
/* начало секции hero */
.hero {
  text-align: center;
}
.hero-bg {
  display: block;
  margin: 0 auto;
}
/* конец секции hero */
/* начало секции бенефист */
.benefist-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  text-align: center;
}
.benefist-item {
  width: 400px;
  text-align: center;
}
.benefist-item:nth-child(2),
.benefist-item:nth-child(6) {
  width: 800px;
}
.benefist-item-first-container {
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
}
.benefist-item-backgraund {
  color: #ffffff;
  background-color: #83b3d3;
}
.benefist-backgraund {
  background-color: rgba(131, 179, 211, 0.2);
}
.benefist-backgraund-color {
  background-color: rgba(131, 179, 211, 0.2);
}
/* конец секции бенефист */
/* начало секции  hotel-search */
.hotel-search {
  text-align: center;
}
.hotel-search-button {
  background-color: #756257;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
}
/* конец секции  hotel-search */
/* начало секции  newsletter */
.newsletter {
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
}
.newsletter-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}
.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}
/* конец секции  newsletter */
/* начало секции  footer */
.footer-page-phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}
.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}
.footer-logo {
  margin-left: auto;
  max-width: 115px;
}
/* конец секции  footer */
/* начало секции  catalog */
.catalog {
  color: #ffffff;
  background-image: url("../images/catalog/catalog-background.jpg");
}
.catalog-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}
.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.control-input {
  font-size: 18px;
  line-height: 23px;
}
.catalog-button-apply {
  background-color: #83b3d3;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.catalog-button {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  color: #ffffff;
  display: flex;
  margin: 0 auto;
}
.catalog-filter {
  display: flex;
  flex-direction: row;
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
}
.catalog-item {
  width: 340px;
}
.catalog-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
.catalog-text {
  font-size: 18px;
  line-height: 23px;
}
.catalog-more {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.catalog-more-color {
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
}
.catalog-more-favorites {
  background-color: #83b3d3;
  color: #ffffff;
  text-decoration: none;
}
.catalog-more-green {
  background-color: #7db54f;
  color: #ffffff;
  text-decoration: none;
}
.catalog-rating-number {
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}
/* конец секции  catalog */
/* начало catalog page .breadcrumbs*/
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}
/* конец catalog page .breadcrumbs*/
/* начало секции  sorting */
.sorting-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}
.sorting-option {
  font-size: 18px;
  line-height: 23px;
}
/* конец секции  sorting */
/* начало секции pogination */
.pagination-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  color: #ffffff;
  text-decoration: none;
}
.pagination-link-color {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
}
.pagination-page {
  font-size: 18px;
  line-height: 23px;
}
.pogination {
  display: flex;
  flex-direction: row;
}
/* конец секции  pogination */
/* начало секции  mailing-list */
.mailing-list-bottom {
  background-color: #83b3d3;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
.mailing-list-field {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
}
.mailing-list {
  text-align: center;
}
/* конец секции mailing-list */
/* начало секции  social-list */
.social-list {
  width: 107px;
  margin-right: 18px;
}
/* конец секции  social-list */
/* начало секции  sorting */
.sorting {
  display: flex;
  flex-direction: row;
}
/* конец секции  sorting */
